
/*-----------------------------------navbar--------------------------------------*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px rgb(207, 198, 198) solid;;
}
nav{
    flex: 1;
    text-align: right;
    color: red;
}
nav ul{
    display: inline-block;
    list-style: none;
    color: red;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: red;

}
.navlogo ul li{
    padding-right: 12px;
    transition: transform 0.3s;
    scale: 1.2;
}
.navlogo ul li a{
    color: black;
    font-size: 20px;
}
.navlogo ul li :hover{
    transform: scale(1.5);  
    color: orangered;
}
 .logo img{
    width: 150px;
    height: 50px;
 }
 .logo img:hover{
    filter: grayscale(0);
 }









/*--------------------------explore-car-------------------------------*/

h2{
    text-align: center;
    font-family: 'Genos', sans-serif;
    font-size: 70px;
    text-shadow:1px 2px   rgb(172, 168, 168);
    font-weight: 800px ;
    color: red;

}

.exp-cars{
    display: grid;
    padding: 30px;
    align-items: center;
    padding-left: 20px;
    margin: 100px;
}
.cars{
    border:1px solid gainsboro;
    padding: 30px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 10px rgb(187, 182, 182);
    border-radius: 15px;
    transition: transform 1.5s;
    margin-bottom: 50px;
}
.cars:hover{
    transform: scale(1.05);
    background: linear-gradient(white,#070a2b)
}


.exp-cars h1{
    font-family: 'Genos', sans-serif;
    font-size: 40px;
    border-bottom: 1px solid black;

}
.cars img{
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    width: 90%; 
    padding-bottom: 50px;   
}


/*---------------------------------------------footer---------------------------------*/

.sub-footer{
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 60px;
    border-top:2px rgb(207, 198, 198) solid;
    padding-top: 60px;
}
.footer img{
    max-width: 100px;
    filter: grayscale(100);
    margin-right: 30px;
}

.sub-footer p{
    font-family: 'Genos', sans-serif;
    color: black;
    font-weight: bold;
}
.sub-footer img:hover{
    filter: grayscale(0);
}
.sub-footer a{
    margin: 1%;
    font-family: 'Genos', sans-serif;
    color: orangered;
    font-weight:bold;
    text-decoration: none;
}
.sub-footer a:hover{
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------*/