*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
    text-shadow: 10%;
    font-size: 20px;

}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    overflow: hidden;
}
.col-2 img{
    margin: 50px;
    max-width: 550px;
    padding: 30%;
    padding-left: 5px;
    transition:transform 2s;
}
.col-2 img:hover{
    transform: scale(1.1);
}

.col-1 h1{
    font-size: 38px;
    line-height: 45px;
    margin: 25px 0;
}
.col-1 p{
    font-size: 20px;
    line-height: 20px;
}
.btn {
    display: inline-block;
    background:orangered;
    color: white;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition:transform 0.3s ;

}
.btn:hover{
    transform:translatex(10px) ;
    background-color:black;
}
.header{
    background:radial-gradient(yellow,orangered);
}
.navlogo ul li{
    padding-right: 12px;
    transition: transform 0.3s;
    scale: 1.2;
    
}
.navlogo ul li :hover{
    transform: scale(1.5);
    color:white;
}
.logo{
    width: 150px;
    height: auto;
    padding: 10px;
}
.featured{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.featured img{
    max-width: 1000px;
    height: 550px;
    margin-bottom: 100px;
    float: right;
    margin-top: 50px;
    margin-left: 25px;

}
.featured h1{
    font-size: 60px;
}
.featured p{
    font-size: 30px;
}
.featured a{
    color:#8c8a82;
    border: 2px solid;
    border-color: #8c8a82;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    justify-content: flex-start; 
}
.featuredtxt{
    justify-content: flex-start;
}
.featured a:hover{
    color: orangered;
    border-color: orangered;
}
.featuredvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
    padding: 50px 0;
    position: relative;
    min-height: 100vh;

}
.featuredvideo h1{
    padding-top: 150px;
    color: white;
    font-size: 80px;
    font-family: 'Tourney', cursive;
}
.hotwheels{
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.featuredvideo h1:hover{
    font-family: 'Raleway';
}