*{
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
}

body{
    background: url(./images/user.webp);
    background-size: 120%;
    background-repeat: no-repeat;

}
.box{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-left: 60px;
    padding: 70px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 3px gainsboro;

}
header{
    font-size: 40px;
    color:black;
}
.ip{
    padding: 10px;
}
::-webkit-input-placeholder{
    color: black;
    padding-left: 20px;
}
.ip input{
    width: 250px;
    height:4vh;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 10px;
    background: none;
    outline: none;
    border: 1px solid gainsboro; 
    box-shadow: 2px 2px 6px 2px gainsboro;
    color: orangered;
}
.btn:hover{
    background-color: orangered;
    color: white;
}
input:focus::-webkit-input-placeholder{
    color: orangered;
}
.ip1{
    padding-left: 20px;
}

.bottom{
    display: flex;
}
.left{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding-right: 100px;
}
.left input{
    max-height: 5vh;
    accent-color: orangered;
}
.left label{
    padding: 10px;
}
.left label:hover{
    color: orangered;
}
.right{
    display: flex;
    font-size: 18px;
    padding-top: 30px;
    color: red;
}
.right a{
    color: black;
}
.right a:hover{
    color: orangered;
}




/*---------------------------------------------footer---------------------------------*/

.sub-footer{
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60.5%;
    margin-bottom: 60px;
    border-top:2px rgb(207, 198, 198) solid;
    padding-top: 60px;
}
.footer img{
    max-width: 100px;
    filter: grayscale(100);
    margin-right: 30px;
}

.sub-footer p{
    font-family: 'Genos', sans-serif;
    color: black;
    font-weight: bold;
}
.sub-footer img:hover{
    filter: grayscale(0);
}
.sub-footer a{
    margin: 1%;
    font-family: 'Genos', sans-serif;
    color: orangered;
    font-weight:bold;
    text-decoration: none;
}
.sub-footer a:hover{
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------*/
/*-----------------------------------navbar--------------------------------------*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px rgb(207, 198, 198) solid;;
}
nav{
    flex: 1;
    text-align: right;
    color: red;
}
nav ul{
    display: inline-block;
    list-style: none;
    color: red;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: red;

}
.navlogo ul li{
    padding-right: 12px;
    transition: transform 0.3s;
    scale: 1.2;
}
.navlogo ul li a{
    color: white;
    font-size: 20px;
}
.navlogo ul li :hover{
    transform: scale(1.5);  
    color: orangered;
}
 .logo img{
    width: 150px;
    height: 50px;
 }
 .logo img:hover{
    filter: grayscale(0);
 }

