*{
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
}

body{
    background: url(./images/user.webp);
    background-size: 120%;
    background-repeat: no-repeat;

}
.box{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 60px;
    padding: 70px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 3px gainsboro;

}
header{
    font-size: 40px;
    color:black;
}
.ip{
    padding: 10px;
}
::-webkit-input-placeholder{
    color: black;
    padding-left: 20px;
}
.ip input{
    width: 250px;
    height:4vh;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 10px;
    background: none;
    outline: none;
    border: 1px solid gainsboro; 
    box-shadow: 2px 2px 6px 2px gainsboro;
    color: orangered;
}
.btn:hover{
    background-color: orangered;
    color: white;
}
input:focus::-webkit-input-placeholder{
    color: orangered;
}
.ip1{
    padding-left: 20px;
}

.bottom{
    display: flex;
}
.left{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding-right: 100px;
}
.left input{
    max-height: 5vh;
    accent-color: orangered;
}
.left label{
    padding: 10px;
}
.left label:hover{
    color: orangered;
}
.right{
    display: flex;
    font-size: 18px;
    padding-top: 30px;
    color: red;
}
.right a{
    color: black;
}
.right a:hover{
    color: orangered;
}